# Dependencies
node_modules/
venv/
env/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Sensitive Configurations
server/.env
.env

# Backups and temporary test directories
mailarmor-final/
mailarmor-test/
mailarmor-final.zip

